<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet" >
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <link rel="stylesheet" href="style.css">
     <title>Vue.js</title>
</head>
<body>

     <div id="app">
          <h2><strong>REGISTER</strong></h2>
          <transition-group name="dude" tag="ul">
               <li class="dude" v-for="(dude, index) in characters" :key="index">
                    <a class="ctrl" @click.prevent="remove(dude)">x</a>
                    <article :class="{ faded: dude.cool < 0, gold: dude.cool > 10 }">
                         {{ dude.who }}
                         <span>{{ dude.wat }}</span>
                    </article>
                    <input class="ctrl" type="number" v-model="dude.cool">
               </li>
          </transition-group>

          <form class="add-new" @keydown.enter="add">
               <input class="input-txt" type="text" v-model="newWho" ref="new" placeholder="Name" autofocus>
               <input class="input-txt" type="email" v-model="newWat" placeholder="Email">
               <input type="reset" class="btn btn-4" v-on:click="clear" value="Clear all">
               <input type="reset" class="btn btn-4" v-on:click="reset" value="Reset">
          </form>

          <p class="preview">
               <b>{{ newWho }}</b>
               <br />
               <small>{{ newWat }}</small>
          </p>
     </div>
     
     <script>
          const app = new Vue({
               el: '#app',
               data: {
                    newWho: '',
                    newWat: '',
                    characters: [{
                         "who": "Leanne Graham",
                         "wat": "sincere@april.biz",
                         "cool": 10
                    }, {
                         "who": "Ervin Howell",
                         "wat": "shanna@melissa.tv",
                         "cool": 12
                    }, {
                         "who": "Clementine Bauch",
                         "wat": "nathan@yesenia.net",
                         "cool": -3
                    }]
               },
               methods: {

                    add() {
                         if ( !this.newWho || !this.newWat ) return
                         //if ( this.newWho == "" || this.newWat == "" ) return

                         this.characters.push({
                              who: this.newWho,
                              wat: this.newWat,
                              cool: 0
                         })

                         this.newWho = ''
                         this.newWat = ''

                         this.$refs.new.focus()
                    },
                    clear() {
                         this.characters = []

                         this.newWho = ''
                         this.newWat = ''
                    },
                    reset() {
                         this.newWho = ''
                         this.newWat = ''
                    },
                    remove(dude) {
                         this.characters = this.characters.filter( item => item != dude )
                    }
               }
          })
     </script>
     
</body>
</html>